.container-form-account {
  /* height: 300px; */
  width: 60%;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

input {
  border: #c4c3c3 1px solid;
}

input::placeholder { 
  color: #c4c3c3;
}

.container-flex-ong {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.left {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  margin-top: 20px;
}

.ant-switch-checked {
  background-color: #6b28c4;
}
