.login {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  width: 70%;
  padding: 2% 5%;
  margin-top: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
}

.banner_home {
  width: 100%;
  height: 280px;
  margin: 0 auto;
  display: block;
}

.container_home {
  width: 60%;
  margin: 10px auto;
  background-color: white;
}