.button-login-form,
.button-login-form:hover,
.button-login-form:focus {
  width: 100%;
  display: block;
  margin-top: 20px;
  background-color: #6b28c4;
  border-color: #6b28c4;
  font-weight: bold;
}

.title {
  text-align: center;
}

.ant-input {
  border: #c4c3c3 1px solid;
}

.button-back,
.button-back:hover {
  background-color: transparent;
  color: #6b28c4;
  border-color: #6b28c4;
  width: 100%;
  font-weight: bold;
  margin-top: 15px;
}

.container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-form {
  /* display: flex;
    align-items: center;*/
  width: 50%;
  /* height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center; */
}

.login-form {
  width: 90%;
}

.form_new_account {
  display: flex;
  justify-content: center;
}

.ant-form-item {
  margin-bottom: 0;
}

.ant-form-item-control-input-content {
  text-align: center;
  padding: 0;
  margin: 0;
}

.input_form {
  padding: 6px;
  /* border-color: black; */
  color: #888888 !important;
  margin-top: 20px;
  width: 100%;
  min-width: 100%;
}

.input_form_newpet {
  padding: 6px;
  /* border-color: black; */
  color: #888888 !important;
  margin-top: 10px;
  width: 100%;
  min-width: 100%;
}

.input_form:hover,
.input_form:focus {
  border-color: #6b28c4;
  outline: 0;
  box-shadow: 0 0 2px #3e0096;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  color: #3e0096;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 5px;
}

.right {
  display: flex;
  justify-content: right;
}

#line {
  height: 415px;
  border-right: 1px solid #e5e5e8;
}

.forgot {
  margin: 0;
}

#line-v {
  width: 300px;
  border: 1px solid #000;
}

.login-form-forgot,
.login-form-forgot:hover {
  margin-left: 5px;
  color: #3e0096;
}

.container-form-image {
  width: 40%;
  text-align: center;
}

.login-foto {
  width: 100%;
  height: 300px;
  border-radius: 30%;
}

.fb-login-button {
  width: 100%;
}

.facebook {
  width: 100% !important;
  height: 50px;
}

.fb-login-button {
  text-align: center;
}
