.container-form-newpet{
    width: 100%;
    padding: 10px;
}

.pet-form{
    padding: 10px 0;
    width: 85%;
    margin: 0 auto;
    background-color: white;
}

.section_form_pet {
    width: 70%;
    margin: 0 auto;
}

.section_pet_card {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
}

.pet_card{
    margin: 3px;
}

.container-form-listpets {
    background-color: whitesmoke;
}

.filter {
    display: flex;
    width: 98%;
    background-color: white;
    margin: 10px;
    padding: 0 10px 10px 10px;
}

.row {
    display: flex;
}
.right {
    text-align: right;
}

.left {
    text-align: left;
}

.label {
    font-weight: 500;
    margin-right: 5px;
}

.ant-divider-inner-text 
{
    color: #6b28c4;
    font-weight: bold;
}

.capitalized {
	text-transform: capitalize;
}
