header {
  background-color: #e3e4eb;
  height: 70px;
  width: 100%;
  padding-left: 30px;
  display: flex;
  align-items: center;
  /* position: fixed; */
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #3e0096;
}

.logo {
  width: 200px;
  height: 90px;
}

.logout {
  background-color: transparent;
  border: none;
  color: #3e0096;
  margin-right: 20px;
  cursor: pointer;
}
