.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #6b28c4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main {
  display: flex;
  width: 100%;

  height: 100%;
}

.content {
  width: 100% !important;
}

main {
  width: 90%;
  height: 100%;
}

.ant-menu-item-selected, .ant-menu-item:hover, .ant-menu-submenu-selected, .ant-menu-submenu:hover{
  color: #6b28c4;
}

.ant-menu-inline .ant-menu-item::after{
  color: #6b28c4;
  border-color: #6b28c4;
}

.ant-menu-inline:hover {
  color: #6b28c4;
}